.character--container {
  border: 2px solid #a77dec;
  position: relative;
  border-top: none;

  height: 66vh;
  overflow-y: auto;
  height: 85vh;
  background: white;
  .section--label {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    margin: 0;
  }
  .character--content {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
    height: 100%;
    text-align: left;
    padding: 16px;
    box-sizing: border-box;
    gap: 50px;

    .character--content--left {
      width: 100%;
      display: flex;
      flex-direction: column;
      height: 100%;
      .report--paragraph--container {
        height: 100%;
        width: 100%;
        overflow: auto;
        padding: 20px;
        box-sizing: border-box;

        .report--reactive--paragraph {
          width: 100%;
          box-sizing: border-box;
          text-align: left;
          line-height: 55px;
          overflow-y: overlay;
          scroll-behavior: smooth;

          font-weight: 100;
          font-size: 20px;
          line-height: 32px;
          color: #000000;
          text-align: justify;

          .text--occurrence__primary {
            padding: 0 5px;
            background-color: rgba($color: #a7a7a7, $alpha: 0.1);
            cursor: pointer;
          }

          .text--occurrence__primary__selected {
            padding: 0 5px;
            border: 2px solid gold;
            font-weight: 600;
            background-color: rgba($color: #a7a7a7, $alpha: 0.2);
            cursor: pointer;
          }

          .text--occurrence__secondary {
            border: 1px solid #000000;
          }
        }
      }
    }

    .character--list {
      width: 100%;
      padding: 6px;

      .filter--btn {
        background: #ffffff;
        border: 3px solid #999999;
        border-radius: 4px;
        min-width: 144px;
        height: 32px;
        cursor: pointer;
        margin-right: 6px;
      }
      .filter-btn__selected {
        border: 3px solid #000000;
      }
    }
  }
}

.directed--graph--character {
  width: 100%;
  height: 100%;
  border: 2px solid #a77dec;

  background-color: white;
  box-sizing: border-box;

  .selected {
    border-width: 2px;
    border-color: gold;
  }
}

.character--stat {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 40px;
  justify-content: space-between;

  .character--table--container {
    margin-top: 40px;
    width: 50%;

    min-height: 200px;
    max-height: 400px;
    overflow-y: auto;

    .section--label {
      position: sticky;
      top: 0;
      background-color: white;
    }

    table {
      border: 1px solid white;
      width: 100%;
    }

    thead {
      position: sticky;
      top: 33px;
    }

    tbody {
      border-bottom: 1px solid white;
      font-weight: 100;
      font-size: 20px;
    }

    th {
      border-bottom: 1px solid white;
      border-right: 1px solid white;
      padding: 2px 4px;
      background: #d9d9d9;
    }

    tfoot {
      color: gray;
    }

    tfoot th {
      font-weight: normal;
    }
  }

  .ratio--graph {
    min-height: 400px;
    max-height: 800px;
  }
}

.graph-legend {
  width: 160px;
  .graph--legend--container {
    border: 1px solid black;
    padding: 6px;
    .graph--legend--row {
      line-height: normal;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      font-family: "Source Sans Pro";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;

      div {
        margin-left: 5px;
        width: 50%;
        height: 20px;
        background-color: silver;
      }
    }
  }
}
