.character--container {
  position: relative;
  border: 5px solid #787878;
  border-top: none;
  padding: 35px;
  height: 66vh;
  overflow-y: auto;

  background: white;
  .section--label {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    margin: 0;
  }
  .character--content {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
    height: 100%;
    text-align: left;

    .character--content--left {
      width: 100%;
    }

    .character--list {
      width: 100%;
      padding: 6px;

      .filter--btn {
        background: #ffffff;
        border: 3px solid #999999;
        border-radius: 4px;
        min-width: 144px;
        height: 32px;
        cursor: pointer;
        margin-right: 6px;
      }
      .filter-btn__selected {
        border: 3px solid #000000;
      }
    }
  }
}

.report--reactive--paragraph {
  padding: 0 13px;
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  margin: 5px 0 10px 0;
  line-height: 55px;
  max-height: 50vh;
  overflow-y: overlay;
  scroll-behavior: smooth;

  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #000000;

  .text--occurrence__primary {
    padding: 0 5px;
    cursor: pointer;
  }

  .text--occurrence__primary__selected {
    padding: 0 5px;
    border: 3px solid gold;
    cursor: pointer;
  }

  .text--occurrence__secondary {
    border: 1px solid #000000;
  }
}

.directed--graph--character {
  width: 100%;
  height: 100%;
  border: 5px solid #787878;

  background-color: white;
  box-sizing: border-box;

  .selected {
    border-width: 5px;
    border-color: gold;
  }
}

.character--stat {
  width: 50%;
  margin-top: 40px;
  .character--table {
    table {
      border: 1px solid white;
      width: 100%;
    }

    tbody {
      border-bottom: 1px solid white;
    }

    th {
      border-bottom: 1px solid white;
      border-right: 1px solid white;
      padding: 2px 4px;
      background: #d9d9d9;
    }

    tfoot {
      color: gray;
    }

    tfoot th {
      font-weight: normal;
    }
  }
}

.graph-legend {
  width: 160px;
  .graph--legend--container {
    border: 1px solid black;
    padding: 6px;
    .graph--legend--row {
      line-height: normal;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      div {
        margin-left: 5px;
        width: 50%;
        height: 20px;
        background-color: silver;
      }
    }
  }
}
