.salient-container {
  border: 2px solid #00b68a;
  border-top: none;
  padding: 35px;

  height: 66vh;
  overflow-y: auto;
  background: white;
}
.salient-content {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.report--reactive--paragraph {
  padding: 0 13px;
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  margin: 5px 0 10px 0;
  line-height: 55px;
  max-height: 50vh;
  overflow-y: overlay;
  scroll-behavior: smooth;

  font-weight: 100;
  font-size: 24px;
  line-height: 32px;
  color: #000000;

  .text--occurrence__primary {
    padding: 0 5px;
    background-color: rgba($color: #a7a7a7, $alpha: 0.2);
    cursor: pointer;
  }

  .text--occurrence__primary__selected {
    padding: 0 5px;
    border: 1px solid gold;
    cursor: pointer;
  }

  .text--occurrence__secondary {
    border: 1px solid #000000;
  }
}

.directed--graph--salient {
  width: 100%;
  height: 100%;
  border: 2px solid #00b68a;
  background-color: white;
  .selected {
    border-width: 2px;
    border-color: gold;
  }
}

.graph-legend {
  width: 160px;
  .graph--legend--container {
    border: 1px solid black;
    padding: 6px;
    .graph--legend--row {
      line-height: normal;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      font-family: "Source Sans Pro";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      div {
        margin-left: 5px;
        width: 50%;
        height: 20px;
        background-color: silver;
      }
    }
  }
}
