.salient-container {
  border: 2px solid #00b68a;
  border-top: none;

  overflow-y: auto;
  background: white;
  height: 85vh;
}

.salient-content {
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  gap: 50px;
  display: flex;
  flex-direction: row;
  height: 85vh;
  padding: 16px;

  .report--paragraph--container {
    height: 100%;
    width: 100%;
    overflow: auto;

    box-sizing: border-box;
    .report--reactive--paragraph {
      margin: 0px;

      width: 100%;
      box-sizing: border-box;
      text-align: left;

      font-weight: 100;
      font-size: 24px;
      line-height: 32px;
      color: #000000;

      .text--occurrence__primary {
        padding: 0 5px;
        background-color: rgba($color: #48cfaf69, $alpha: 0.1);
        cursor: pointer;
      }

      .text--occurrence__primary__selected {
        padding: 0 5px;
        border: 2px solid gold;
        cursor: pointer;
        font-weight: 600;
      }

      .text--occurrence__secondary {
        border: 1px solid #48cfaf69;
      }
    }
  }

  .directed--graph--salient {
    width: 100%;
    height: 100%;
    border: 2px solid #00b68a;
    background-color: white;

    .selected {
      border-width: 2px;
      border-color: gold;
    }
  }
}

@media screen and (max-width: 1024px) {
  .salient-content {
    flex-wrap: wrap;
    padding-bottom: 16px;
    height: auto;
    padding: 24px;

    .report--paragraph--container {
      height: 85vh;
      .report--reactive--paragraph {
        font-size: 16px;
        line-height: 24px;
      }
    }
    .directed--graph--salient {
      height: 85vh;
    }
  }
}

.graph-legend {
  width: 160px;
  .graph--legend--container {
    border: 1px solid black;
    padding: 6px;
    .graph--legend--row {
      line-height: normal;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      font-family: "Source Sans Pro";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      div {
        margin-left: 5px;
        width: 50%;
        height: 20px;
        background-color: silver;
      }
    }
  }
}
