.gender--container {
  border: 2px solid #54b9e8;
  position: relative;
  border-top: none;
  overflow-y: auto;
  height: 85vh;
  background: white;
  .section--label {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    margin: 0;
  }

  .gender--content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    gap: 50px;
    height: 85vh;
    padding: 16px;
    box-sizing: border-box;

    .gender--content--left {
      width: 100%;
      display: flex;
      flex-direction: column;
      height: 100%;

      .filter--container {
        padding: 6px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 6px;

        .filter--btn {
          background: #ffffff;
          border: 3px solid #999999;
          border-radius: 4px;
          min-width: 144px;
          height: 32px;
          cursor: pointer;
          margin-right: 6px;
        }
        .filter-btn__selected {
          border: 3px solid #000000;
        }
      }

      .report--paragraph--container {
        height: 100%;
        overflow: auto;
        box-sizing: border-box;

        .report--reactive--paragraph {
          width: 100%;
          box-sizing: border-box;
          text-align: left;
          margin: 0px;
          line-height: 55px;

          font-weight: 100;
          font-size: 24px;
          line-height: 32px;
          color: #000000;
          text-align: justify;

          .text--occurrence__male__primary {
            padding: 0 5px;
            background-color: rgba($color: #0e547cb5, $alpha: 0.1);
            cursor: pointer;
          }
          .text--occurrence__male__primary__selected {
            padding: 0 5px;
            background-color: rgba($color: #0e547cb5, $alpha: 0.2);
            border: 2px solid gold;
            font-weight: 600;
            cursor: pointer;
          }
          .text--occurrence__male__secondary {
            padding: 0 5px;
            border: 1px solid #54b9e8;
          }

          .text--occurrence__female__primary {
            padding: 0 5px;
            background-color: rgba($color: #44a6ce, $alpha: 0.1);
            cursor: pointer;
          }
          .text--occurrence__female__primary__selected {
            padding: 0 5px;
            background-color: rgba($color: #44a6ce, $alpha: 0.2);
            border: 2px solid gold;
            font-weight: 600;
            cursor: pointer;
          }
          .text--occurrence__female__secondary {
            padding: 0 5px;
            border: 1px solid #54b9e8;
          }

          .text--occurrence__mix__primary {
            padding: 0 5px;
            background-color: rgba($color: #357adf3b, $alpha: 0.1);
            cursor: pointer;
          }
          .text--occurrence__mix__primary__selected {
            padding: 0 5px;
            background-color: rgba($color: #357adf3b, $alpha: 0.2);
            border: 2px solid gold;
            font-weight: 600;
            cursor: pointer;
          }
          .text--occurrence__mix__secondary {
            padding: 0 5px;
            border: 1px solid #54b9e8;
          }
        }
      }
    }

    .directed--graph--gender {
      width: 100%;
      height: 100%;
      border: 2px solid #54b9e8;

      background-color: white;
      box-sizing: border-box;

      .selected {
        border-width: 4px;
        border-color: gold;
        color: black;
      }
    }
  }

  .gender--statistics {
    width: 100%;
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    margin-top: 32px;
    padding: 24px;
    box-sizing: border-box;
    justify-content: space-around;

    .block {
      background-color: white;
      border: 1px solid rgba(0, 10, 20, 0.1);
      padding: 6px;
      width: 45%;
      min-width: 400px;

      &.empty {
        border: none;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .gender--container {
    .gender--content {
      flex-wrap: wrap;
      padding-bottom: 16px;
      height: auto;
      padding: 24px;

      .gender--content--left {
        height: 85vh;
        .filter--container {
          .filter--btn {
            min-width: 50px;
          }
        }

        .report--paragraph--container {
          .report--reactive--paragraph {
            font-size: 16px;
            line-height: 24px;
          }
        }
      }
      .directed--graph--gender {
        height: 85vh;
      }
    }

    .gender--statistics {
      .block {
        width: 100%;
        min-width: 0;
      }
    }
  }
}

.gender--stat {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 40px;
  justify-content: space-between;
  gap: 6px;

  .gender--table--container {
    margin-top: 40px;
    width: 40%;

    min-height: 200px;
    max-height: 400px;
    min-width: 350px;
    overflow-y: auto;

    .section--label {
      position: sticky;
      top: 0;
      background-color: white;
    }

    table {
      border: 1px solid white;
      width: 100%;
    }

    thead {
      position: sticky;
      top: 33px;
    }

    tbody {
      border-bottom: 1px solid white;
      font-weight: 100;
      font-size: 20px;
    }

    th {
      border-bottom: 1px solid white;
      border-right: 1px solid white;
      padding: 2px 4px;
      background: #d9d9d9;
    }

    tfoot {
      color: gray;
    }

    tfoot th {
      font-weight: normal;
    }
  }

  .ratio--graph {
    min-height: 300px;
    max-height: 600px;
    width: 100%;
  }
}

path.react-flow__edge-path {
  stroke-width: 3;
  color: black;
}

.graph-legend {
  width: 160px;
  .graph--legend--container {
    border: 1px solid black;
    padding: 6px;
    .graph--legend--row {
      line-height: normal;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      font-family: "Source Sans Pro";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      div {
        margin-left: 5px;
        width: 50%;
        height: 20px;
        background-color: silver;
      }
    }
  }
}
