.gender--container {
  border: 2px solid #54b9e8;
  position: relative;

  border-top: none;
  padding: 35px;
  height: 66vh;
  overflow-y: auto;

  background: white;
  .section--label {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    margin: 0;
  }

  .gender--content {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
    height: 100%;
    text-align: left;
    flex-wrap: wrap;

    .gender--content--left {
      width: 100%;
    }
  }

  .filter--container {
    width: 100%;
    padding: 6px;

    .filter--btn {
      background: #ffffff;
      border: 3px solid #999999;
      border-radius: 4px;
      min-width: 144px;
      height: 32px;
      cursor: pointer;
      margin-right: 6px;
    }
    .filter-btn__selected {
      border: 3px solid #000000;
    }
  }

  .report--reactive--paragraph {
    padding: 0px 45px 0px 13px;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    margin: 5px 0 10px 0;
    line-height: 55px;
    max-height: 50vh;
    overflow-y: overlay;
    scroll-behavior: smooth;

    font-weight: 100;
    font-size: 20px;
    line-height: 32px;
    color: #000000;
    text-align: justify;

    .text--occurrence__male__primary {
      padding: 0 5px;
      background-color: rgba($color: #0e547cb5, $alpha: 0.1);
      cursor: pointer;
    }
    .text--occurrence__male__primary__selected {
      padding: 0 5px;
      background-color: rgba($color: #0e547cb5, $alpha: 0.2);
      border: 1px solid gold;
      cursor: pointer;
    }
    .text--occurrence__male__secondary {
      padding: 0 5px;
      border: 1px solid #54b9e8;
    }

    .text--occurrence__female__primary {
      padding: 0 5px;
      background-color: rgba($color: #44a6ce, $alpha: 0.1);
      cursor: pointer;
    }
    .text--occurrence__female__primary__selected {
      padding: 0 5px;
      background-color: rgba($color: #44a6ce, $alpha: 0.2);
      border: 1px solid gold;
      cursor: pointer;
    }
    .text--occurrence__female__secondary {
      padding: 0 5px;
      border: 1px solid #54b9e8;
    }

    .text--occurrence__mix__primary {
      padding: 0 5px;
      background-color: rgba($color: #357adf3b, $alpha: 0.1);
      cursor: pointer;
    }
    .text--occurrence__mix__primary__selected {
      padding: 0 5px;
      background-color: rgba($color: #357adf3b, $alpha: 0.2);
      border: 1px solid gold;
      cursor: pointer;
    }
    .text--occurrence__mix__secondary {
      padding: 0 5px;
      border: 1px solid #54b9e8;
    }
  }
}

.directed--graph--gender {
  width: 100%;
  height: 100%;
  border: 2px solid #54b9e8;

  background-color: white;
  box-sizing: border-box;

  .selected {
    border-width: 1px;
    border-color: gold;
  }
}

.gender--stat {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 40px;
  justify-content: space-between;

  .gender--table--container {
    margin-top: 40px;
    width: 50%;

    min-height: 200px;
    max-height: 400px;
    overflow-y: auto;

    .section--label {
      position: sticky;
      top: 0;
      background-color: white;
    }

    table {
      border: 1px solid white;
      width: 100%;
    }

    thead {
      position: sticky;
      top: 33px;
    }

    tbody {
      border-bottom: 1px solid white;
      font-weight: 100;
      font-size: 20px;
    }

    th {
      border-bottom: 1px solid white;
      border-right: 1px solid white;
      padding: 2px 4px;
      background: #d9d9d9;
    }

    tfoot {
      color: gray;
    }

    tfoot th {
      font-weight: normal;
    }
  }

  .ratio--graph {
    min-height: 300px;
    max-height: 600px;
  }
}

path.react-flow__edge-path {
  stroke-width: 3;
  color: black;
}

.graph-legend {
  width: 160px;
  .graph--legend--container {
    border: 1px solid black;
    padding: 6px;
    .graph--legend--row {
      line-height: normal;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      font-family: "Source Sans Pro";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      div {
        margin-left: 5px;
        width: 50%;
        height: 20px;
        background-color: silver;
      }
    }
  }
}
