.report--reactive--paragraph {
  text-align: left;
  margin: 20px 0;
  line-height: 55px;
}
.reactive-span {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  user-select: none;
}

.data-display {
  display: flex;
  flex-direction: row;

  align-items: center;
  p {
    margin: 0;
  }
  span {
    margin-left: 8px;
    margin-right: 8px;
  }
}
