.story--input--container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(113.8deg, #f4e1ff 8.97%, #ffffff 99.71%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .example--container {
    width: 45%;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    align-items: flex-start;

    /*h2{*/
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    /*}*/

    p {
      text-align: left;
      font-weight: 100;
      font-size: 20px;
    }

    .example--container--status {
      display: flex;
      align-items: center;

      h2 {
        margin-right: 8px;
      }

      div {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: red;
      }
      .status--pending--msg {
        font-weight: 500;
        margin-left: 6px;
      }
    }

    .example--container--list {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      flex-wrap: wrap;
      border: 10px red;
      height: 100px;
      gap: 6px;

      button {
        min-width: 144px;
        height: 32px;
        cursor: pointer;
        margin-right: 6px;
      }
    }

    .form-field {
      position: relative;
      display: inline-block;
    }

    .icon {
      position: absolute;
      right: 13px;
    }

    .search--bar--container {
      .search--bar--input {
        width: 530px;
        border-radius: 5px;
        height: 30px;
        border: 1px solid silver;
      }

      .search--bar--input:focus {
        outline: none;
      }
      .search--bar--result {
        margin: 2px 0px;
        color: silver;
        font-size: 16px;
        text-align: left;
        color: rgba(29, 150, 121, 0.75);
      }
    }
  }

  .story--input--textarea {
    width: 45%;
    height: 200px;
    /*width: 530px;*/
    margin-bottom: 10px;
    border: 1px solid silver;
  }
  .story--input--btn {
    width: 60px;
    height: 30px;
    cursor: pointer;
  }
  .loader {
    color: #ff79c6;
    animation-name: spin;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

@media screen and (max-width: 1024px) {
  .story--input--container {
    .example--container {
      width: 90%;
      h2,
      p {
        margin: 0;
      }

      .form-field {
        width: 100%;
      }
      .search--bar--container {
        width: 100%;
        .search--bar--input {
          width: 90%;
        }
      }
      .example--container--list {
        height: 200px;
        overflow: auto;
        gap: 4px;
        justify-content: flex-start;
        align-content: baseline;
      }
    }
    h1 {
      font-size: 24px;
    }
    h2 {
      font-size: 20px;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
