.story--input--container {
  width: 100%;
  height: 100vh;
  background-color: #282c34;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .story--input--textarea {
    width: 40%;
    height: 200px;
    margin-bottom: 10px;
  }
  .story--input--btn {
    width: 60px;
    height: 30px;
    cursor: pointer;
  }
  .loader {
    color: #ff79c6;
    animation-name: spin;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
