.report--label {
  font-size: xx-large;
  font-weight: 500;
  color: #ff79c6;
  margin: 10px 0px;
}

.report--divider {
  height: 0;
  width: 100%;
  border: 0.5px solid #ff79c6;
  margin: 20px 50px;
}
.report--back--btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}
