.app {
  text-align: center;
  overflow: overlay;
  scroll-behavior: smooth;
}

.report--content {
  background-color: #282a36;
  min-height: 100vh;
  display: block;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0 100px;

  .selected-node {
    color: red;
    background-color: blue;
  }
}
