.app {
  text-align: center;
  overflow: overlay;
  scroll-behavior: smooth;
}

.report--content {
  background: linear-gradient(115.4deg, #c2fff0 3.64%, #ffffff 118.6%);
  //background: linear-gradient(116.44deg, #FFCE6D -6.73%, #FFFFFF 170.41%);
  //background: linear-gradient(114.12deg, #bfbfbf -10.32%, #ffffff 138.05%);
  min-height: 100vh;
  display: block;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0 100px;

  .selected-node {
    color: red;
    background-color: blue;
  }
}
