.app {
  text-align: center;
  overflow: overlay;
  scroll-behavior: smooth;
}

.report--content {
  background-color: #282a36;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0 100px;

  .directed--graph {
    width: 1200px;
    height: 500px;
    border: 1px solid red;
    background-color: white;
  }
  .selected-node {
    color: red;
    background-color: blue;
  }

  span {
    cursor: pointer;
    background-color: white;
    color: black;
  }

  .person {
    color: red;
    background-color: blue;
  }
  .character {
    color: red;
    background-color: green;
  }
}
